<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <title>File Preview | <%= fileName %></title>
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="link">Home</a>
            <a href="/create" class="link">Create File</a>
        </div>
    </header>
    <main class="main">
        <h1 fileName="<%= fileName %>"><%= fileName %></h1>
        <p class="file-content vertical-space"><%- fileContent || '' %></p>
        <% if (fileContent) { %>
            <input type="text" id="renameInput" class="rename-input" placeholder="New file name">
            <button id="renameButton" class="rename-button vertical-space">Rename file</button>
            <button id="deleteButton" class="delete-button vertical-space">Delete File</button>
        <% } %>
        <h3 class="feedback-message"><%= feedback %></h3>
    </main>
    <script src="/js/detail.js"></script>
</body>
</html>